
html,
body {
  min-height: 100%;
}

body {
  font-family: "Roboto", sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
  position: relative;
  text-decoration: none;
}


h2 {
  font-size: 24px;
  font-weight: bold;
}

h3 {
  font-size: 18px;
}

a {
  text-decoration: none;
  color: black;
}

/*********************** HEADER *****************************/
/*********************** animation loading *****************************/
.loading {
  height: 100%;
  width: 100%;
  position: fixed;
  overflow: hidden;
  background-color:rgb(252, 252, 252);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99;
  pointer-events: none;
  animation: 0.2s linear 2s loading;
  animation-fill-mode: forwards;
}

@keyframes loading {
  from {
    opacity: 100%;

  }
  to {
    opacity: 0;
  }
}

.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #9356DC;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis div:nth-child(1) {
  background-color: #99E2D0;
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis div:nth-child(2) {
  background-color: #008766;
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(3) {
  background-color: #89C8FA;
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(4) {
  background-color: #9356DC;
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}

@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}
/*******************************************************/
nav {
  align-items: center;
  display: flex;
  padding: 3%;
}

.logo {
  margin: auto;
  width: 20%;
}

.search {
  align-items: center;
  background-color: #eaeaea;
  display: flex;
  font-size: 20px;
  justify-content: center;
  padding: 13px;
}
.search__location {
  padding-right: 1%;
}
.search__input {
  background-color: #eaeaea;
  border: none;
  font-size: 1rem;
  text-align: center;
}

.container {
  align-items: center;
  background-color: #f7f7f7;
  display: flex;
  flex-direction: column;
  height: 350px;
  justify-content: center;
  text-align: center;

}
.container__title {
  margin: 10px;
  font-size: 40px;
  font-weight: bold;
}

.container__text {
  font-style: italic;
  font-size: 18px;
}

.container__btn {
  background: linear-gradient(#FF79DA, #9356DC);
  border: none;
  border-radius: 50px;
  box-shadow: 1px 4px 14px 1px #b6b6b7;
  color: #fff;
  font-size: 20px;
  padding: 20px;
  margin: 20px;
  text-decoration: none;
}
.container__btn:hover {
  box-shadow: rgb(149, 157, 165) 0px 16px 40px;
}
/*********************************************************/


/*********************** OPERATION *****************************/
.operating-stage {
  padding: 10% 5%;
  padding-bottom: 30px;
}

.slide {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 250px;
  justify-content: space-between;
}
.slide .btn-slide {
  align-items: center;
  background-color: #f7f7f7;
  border-radius: 20px;
  border: none;
  box-shadow: 1px 4px 14px 1px #d7d8d9;
  cursor: pointer;
  display: flex;
  justify-content: flex-start;
  padding: 20px;
  position: relative;
  width: 95%;
  text-decoration: none;
}
.slide .btn-slide i {
  color: grey;
  font-size: 20px;
  padding-left: 5%;
  padding-right: 5%;
}
.slide .btn-slide p {
  font-size: 18px;
  font-weight: bold;
  margin: 0;
}
.slide .btn-slide:hover {
  background-color: rgba(141, 114, 175, 0.3137254902);

}
.slide .btn-slide:hover i {
  color: #9356DC;
}
.slide .btn-slide::before {
  align-items: center;
  color: #FFF;
  content: attr(value);
  background-color: #9356DC;
  border-radius: 50%;
  display: flex;
  height: 30px;
  justify-content: center;
  left: -10px;
  position: absolute;
  width: 30px;
}

/*********************************************************/



/*********************** RESTAURANTS *****************************/
#restaurants {
  background-color: #f7f7f7;
  height: 100%;
  padding: 10% 5%;
  padding-bottom: 10%;
}

.restaurant_card {
  background-color: white;
  border-radius: 20px;
  box-shadow: 1px 4px 14px 1px #d7d8d9;
  margin-bottom: 5%;
  width: 100%;
}
.restaurant_card a {
  color: black;
  text-decoration: none;
}
.restaurant_card .restaurant_card-img {
  border-radius: 20px 20px 0 0;
  height: 200px;
  object-fit: cover;
  width: 100%;
}
.restaurant_card .restaurant_card-info {
  border-radius: 0 0 20px 20px;
  background-color: #fff;
  display: flex;
  height: 50px;
  justify-content: space-between;
  padding: 10px;
}

.restaurant_card .restaurant_card-info .restaurant_card-text h3 {
  margin: 0;
  margin-bottom: 2%;
  padding: 0;
}

.restaurant_card .restaurant_card-info .restaurant_card-text p {
  font-size: 18px;
  font-style: italic;
  margin: 0;
  padding: 0;
}

.restaurant_card .restaurant_card-info .like {
  padding-right: 15%;
}



.new {
  position: relative;
}

.new::before {
  background-color: #99E2D0;
  border-radius: 5%;
  color: #008766;
  content: "Nouveau";
  display: grid;
  height: 2rem;
  position: absolute;
  place-items: center;
  right: 1rem;
  top: 1rem;
  width: 5rem;
}

.like {
  cursor: pointer;
  font-size: 30px;
  position: relative;
}

.like .fa-heart {
  position: absolute;
}

.like .like-solid {
  color: transparent;
  background-clip: text;
  background-image: linear-gradient(#FF79DA, #9356DC);
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  -webkit-background-clip: text;
  -moz-background-clip: text;
}

.like-solid:hover, .like-solid {
  opacity: 1;
}

/*********************************************************/



/*********************** FOOTER *****************************/
footer {
  background-color: #353535;
  padding-bottom: 26px;
  display: flex;
  flex-direction: column;
}
footer .footer-logo {
  filter: invert(100%) sepia(8%) saturate(4%) hue-rotate(237deg) brightness(99%) contrast(104%);
  padding: 5% 0% 5% 5%;
  width: 15%;
}
footer ul {
  list-style-type: none;
  margin: 0;
  padding-left: 5%;
}
footer li {
  padding: 1%;
}
footer li i {
  padding-right: 5px;
  width: 20px;
}
footer a {
  color: #FFF;
  text-decoration: none;
}
/*********************************************************/


/*********************** menu *****************************/

/**************** animation *****************************/
.list-menu-starter, .list-menu-main, .list-menu-dessert {
  display: flex;
  justify-content: center;
  flex-direction: column;
  opacity: 0;
}

.list-menu-starter {
  animation: cardFadeIn 1s ease-in-out forwards;
  animation-delay: 0.2s;
}

.list-menu-main {
  animation: cardFadeIn 1s ease-in-out forwards;
  animation-delay: 0.5s;
}

.list-menu-dessert {
  animation: cardFadeIn 1s ease-in-out forwards;
  animation-delay: 0.9s;
}

@keyframes cardFadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
/*****************************************************************/

.menu-card {
  overflow: hidden;
  margin: 10px;
  display: flex;
  background-color: #fff;
  border-radius: 20px;
}

.menu-card .title-menu {
  display: block;
  width: 100px;
  flex: 1;
  padding: 10px;
}
.menu-card h3,
.menu-card p {
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
  display: block;
  overflow: hidden;
  margin: 0;
}
.menu-card .prix {
  display: flex;
  font-weight: 700;
  align-items: flex-end;
  justify-content: flex-end;
  padding: 10px;
}
.menu-card .menu-card-check {
  align-items: center;
  justify-content: center;
  display: flex;
  width: 4rem;
  margin: 0rem -4rem 0rem 0rem;
  background-color: #99E2D0;
  transition: all 1s ease-in-out;
  -webkit-transition: all 1s ease-in-out; /* Safari */
  -moz-transition: all 1s ease-in-out; /* mozzila */
}
.menu-card:hover .menu-card-check {
  margin: 0rem 0rem 0rem 0rem;
}
.menu-card .check {
  font-size: 1.5rem;
  color: #fff;
}
.menu-card:hover .check {
  transition: all 1s ease-in-out;
  transform: rotate(360deg);
  -webkit-transition: all 1s ease-in-out; /* Safari */
  -webkit-transform: rotate(360deg); /* Safari */
  -moz-transition: all 1s ease-in-out; /* mozzila */
  -moz-transform: rotate(360deg); /* mozzila */
}


.menu-img img {
  object-fit: cover;
  width: 100%;
  height: 250px;
}

.menu {
  position: relative;
  width: 100%;
  background-color: #e7e7e7;
  border-radius: 30px 30px 0 0;
  z-index: 1;
  margin-top: -80px;
}
.menu h2 {
  font-size: 16px;
  font-weight: 300;
  position: relative;
  display: inline-block;
  padding-left: 10px;
}
.menu h2:after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 10px;
  width: 50%;
  height: 3px;
  background-color: #99E2D0;
}
.menu .menu-list {
  padding-left: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.menu .menu-list img {
  width: 20px;
  padding-right: 15px;
}
.menu .menu-list h1 {
  font-size: 28px;
  font-family: "Shrikhand", cursive;
}
.menu .menu-list .like {
  padding-right: 4rem;
  padding-bottom: 2rem;
}

.menu .order {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.menu .btn-order {
  text-decoration: none;
  background: linear-gradient(#FF79DA, #9356DC);
  color: #fff;
  font-size: 20px;
  border-radius: 50px;
  border: none;
  padding: 15px 40px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.menu .btn-order:hover {
  box-shadow: rgb(149, 157, 165) 0px 16px 40px;
}


/********************** media query **************************/

@media only screen and (min-width: 992px) {

  .logo {
    width: 10%;
  }
  .operating-stage, #restaurants{
    padding: 2% 5%;
  }

  .slide {
    flex-direction: row;
    height: fit-content;
    padding-bottom: 2%;
  }

  .slide .btn-slide {
    width: 30%;
  }

  .restaurant-firstl-desktop, .restaurant-secondl-desktop {
    display: flex;
    flex-direction: row;
    gap: 5%;
  }

  .restaurant_card .restaurant_card-info .like {
    padding-right: 10%;
  }

  /* Desktop devices */
.like .like-solid {
    opacity: 0;
  }
  .like-solid:hover, .like-solid:focus {
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
  }

  footer {
    flex-direction: row-reverse;
    align-items: flex-end;
  }

  footer .footer-logo {
    padding: 5% 2% 1% 0%;
    width: 10%;
  }
  footer ul {
    padding: 1%;
    align-items: center;
    justify-content: space-around;
    display: flex;
    flex-direction: row;
    width: 50%;
  }

  footer li {
    padding: 2px;
  }

/* media query for menu */
  .menu-img img {
    height: 450px;
  }

  .menu .menu-list {
    justify-content: center;
    gap: 2%;
  }

  .menu {
    margin-top: -35px;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
  }

  .menu-box{
    width: 70%;
    margin: auto;
  }
}
